body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Paytone One', sans-serif;
}

h4 {
    text-align: center;
    margin: 0px;
}

img {
    width: 100%;
}

table {
    border: groove dimgray 0.5px;
    width: 90%;
    margin: auto;
}

details{
    margin-top: 40px;
}

th, td {
    border: groove dimgray 0.5px;
    text-align: center;
}

.first{
    background-color: silver;
}

.header {
    height: 50px;
}

.vertical-container{
    display: flex;
    text-align: center;
}

.item-container{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
}

.header.vertical-container > section > h1 {
    margin: 0px;
    padding-left: 20px;
}

.item-container > p {
    color: blue;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
}

.header-logo {
    height: 50px;
}

.embedded{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 0px;
    margin: 0px;
}

#logo {
    width: 200px;
    margin: 0px;
}

#currency{
    color: green;
}