body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Paytone One', sans-serif;
}

img {
    width: 100%;
}

  #circle {
    width: 70%;
    border-radius: 50%;
    background: #3f51b5; 
    transform: rotate(-90deg);
  }
  #circle text {
    transform: rotate(90deg);
    font-size:3px;
  }

  svg > text {
      font-size: 1px;
  }

  .rect1 {
    fill: #3f51b5;
  }

  .rect2 {
    fill: #00bcd4;
  }
   
  circle {
    fill: none;
    stroke-width: 32;
  }
   
  circle.first {
    stroke: #00bcd4;
  }

  .base{
    fill: #00bcd4;
  }

  .top{
    fill: #3f51b5;
  }

  #bars{
    width: 70%;
  }

  polyline{
      stroke: black;
      stroke-width: 0.5px;
  }

table {
    border: groove dimgray 0.5px;
    width: 90%;
    margin: auto;
}

details{
    margin-top: 40px;
}

fieldset{
    border: none;
}

th, td {
    border: groove dimgray 0.5px;
    text-align: center;
}

summary {
    font-weight: bold;
}

.first{
    background-color: silver;
}

.short{
    width: 80px;
}

.header {
    height: 50px;
}

.horizontal-container, .vertical-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    text-align: center;
}

.vertical-container {
    flex-direction: column;
}

.header.vertical-container > section > h1, .embedded, 
.vertical-container > p, #logo {
    margin: 0px;
}

.header.vertical-container > section > h1 {
    padding-left: 20px;
}

.vertical-container > p {
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

.header-logo {
    height: 50px;
}

.embedded{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 0px;
}

#logo {
    width: 200px;
}

#currency{
    color: green;
}